<template>
    <tab-home></tab-home>
</template>

<script>
import TabHome from '../vue/TabHome'
export default {
  name: 'AppIndex',
  components: {
    TabHome: TabHome
  }
}
</script>

<style scoped>

</style>
