<template>
  <a-locale-provider :locale="zhCN">
    <a-row style="height: 840px;">
  <a-table
    :columns="columns"
    :row-key="record => record.id"
    :data-source="employee"
    :pagination="pagination"
    :loading="loading">
    <template slot="sex" slot-scope="sex" > {{ sex.value }} </template>
    <template slot="department" slot-scope="department" > {{ department.value }} </template>
    <template slot="position" slot-scope="position" > {{ position.value }} </template>
    <template slot="operation" slot-scope="text, record">
      <div class='editable-row-operations'>
        <span>
          <a @click='() => editEmployee(record)'>编辑</a>
          <a-divider type='vertical' />
        </span>
        <a-popconfirm
          title='确定删除?'
          @confirm='() => deleteEmployee(record.id)'
        >
            <span>
              <a href='javascript:;'>删除</a>
            </span>
        </a-popconfirm>
      </div>
    </template>
  </a-table>
      <edit-form @onSubmit="loadEmployee()" ref="edit"></edit-form>
    </a-row>
  </a-locale-provider>
</template>

<script>
import zhCN from 'ant-design-vue/es/locale-provider/zh_CN'
import EditForm from './EditForm'
import SearchBar from './SearchBar'
const columns = [
  {
    title: 'ID',
    dataIndex: 'id',
    width: '5%'
  },
  {
    title: '姓名',
    dataIndex: 'name',
    width: '8%',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: '性别',
    dataIndex: 'sex',
    filters: [
      { text: '男', value: '男' },
      { text: '女', value: '女' }
    ],
    width: '6%',
    scopedSlots: { customRender: 'sex' }
  },
  {
    title: '生日',
    dataIndex: 'birth',
    width: '10%',
    scopedSlots: { customRender: 'birth' }
  },
  {
    title: '电话',
    dataIndex: 'phone',
    width: '12%',
    scopedSlots: { customRender: 'phone' }
  },
  {
    title: '部门',
    dataIndex: 'department',
    width: '12%',
    scopedSlots: { customRender: 'department' }
  },
  {
    title: '岗位',
    dataIndex: 'position',
    width: '15%',
    scopedSlots: { customRender: 'position' }
  },
  {
    title: '邮箱',
    dataIndex: 'email',
    scopedSlots: { customRender: 'email' }
  },
  // {
  //   title: '有效性',
  //   dataIndex: 'ifvalid',
  //   width: '8%',
  //   scopedSlots: { customRender: 'ifvalid' }
  // },
  {
    title: '操作',
    dataIndex: 'operation',
    width: '12%',
    scopedSlots: { customRender: 'operation' }
  }
]
export default {
  name: 'EmployeeList',
  components: {EditForm, SearchBar},
  data () {
    return {
      zhCN,
      employee: [],
      pagination: {
        defaultPageSize: 10,
        showSizeChanger: true,
        pageSizeOptions: ['5', '10', '15', '20'],
        // onShowSizeChange: (current, pageSize) => this.pageSize = pageSize,
        showTotal: total => `共 ${total} 条数据`
      },
      loading: false,
      columns
    }
  },
  methods: {
    loadEmployee () {
      var _this = this
      this.$axios.get('/employee').then(resp => {
        if (resp && resp.status === 200) {
          _this.employee = resp.data
        }
      })
    },
    deleteEmployee (id) {
      this.$axios.post('/delete', {id: id}).then(resp => {
        if (resp && resp.status === 200) {
          this.loadEmployee()
        }
      })
    },
    editEmployee (item) {
      this.$refs.edit.dialogFormVisible = true
      this.$refs.edit.employee = {
        id: item.id,
        name: item.name,
        sex: {
          id: item.sex.id.toString(),
          value: item.sex.value
        },
        birth: item.birth,
        phone: item.phone,
        department: {
          id: item.department.id.toString(),
          value: item.department.value
        },
        position: {
          id: item.position.id.toString(),
          value: item.position.value
        },
        email: item.email,
        photo: item.photo
      }
    }
  },
  mounted: {
    function () {
      this.loadEmployee()
    }
  },
  created () {
    this.$axios.get('/employee').then((response) => {
      this.employee = response.data
      console.log(response.data)
    })
  }
}
</script>

<style scoped>

</style>
