<template>
  <div style="margin-bottom: 30px;display: flex;justify-content: center;align-items: center">
    <a-input
      @keyup.enter.native="searchClick"
      placeholder="通过姓名搜索..."
      style="width: 400px;margin-right: 10px"
      v-model="keywords">
      <a-icon slot="prefix" type="search" />
    </a-input>
    <a-button size="small" type="primary" icon="a-icon-search" @click="searchClick">搜索</a-button>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  data () {
    return {
      keywords: '',
      employee: [],
      cardLoading: []
    }
  },
  methods: {
    searchClick () {
      this.$emit('onSearch')
    }
  }
}
</script>

<style scoped>

</style>
