/**
* @author  Mengxue
* @version: 2.1
* @Description: ANTD VUE用户注册表单组件，访问地址：localhost:8080/antdvue
*/
<template>
  <div>
    <antdvue-registration :employeeList="employeeList" :employee="employee" @updateEmployeeList="updateEmployeeListInfo($event)"
                          @clearEmployee="clearEmployeeInfo($event)"></antdvue-registration
    >
    <antdvue-list :employeeList="employeeList" :employee="employee"></antdvue-list>
    <!--<router-view></router-view>-->
  </div>
</template>

<script>
// import { Menu } from 'ant-design-vue'
import AntdvueRegistration from './AntdvueRegistration'
import AntdvueList from './AntdvueList'
export default {
  name: 'AntdvueDemo',
  components: {
    'antdvue-registration': AntdvueRegistration,
    'antdvue-list': AntdvueList
  },
  data () {
    return {
      employeeList: [
        {key: '0', name: '张三', sex: '男', birth: '1989-19-20', phone: '18932323232', department: '研发中心', position: '软件工程师', hobby: ['运动', '编程'], remarks: '管理员'},
        {key: '1', name: '李四', sex: '男', birth: '1998-12-11', phone: '18921212122', department: '运行管理中心', position: '运维工程师', hobby: ['音乐'], remarks: ''},
        {key: '2', name: '王五', sex: '男', birth: '2010-12-22', phone: '18932223232', department: '研发中心', position: '软件工程师', hobby: ['编程'], remarks: ''},
        {key: '3', name: '赵六', sex: '女', birth: '1998-12-12', phone: '18932322232', department: '系统集成部', position: '系统集成工程师', hobby: ['编程'], remarks: ''}
      ],
      employee: {key: '', name: '', sex: '', birth: '', phone: '', department: '', position: '', hobby: [], remarks: ''}
    }
  },
  methods: {
    // 父组件接收子组件TabRegistration中更新（增加新员工信息）后的Employees列表信息
    updateEmployeeListInfo (listMsg) {
      this.employeeList = listMsg
    },
    clearEmployeeInfo (msg) {
      this.employee = msg
    }
  }
}
</script>

<style scoped>
  #components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }

  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
</style>
