/**
* @author  Mengxue
* @version: 1.0
* @Description: VUE用户注册界面, 访问地址：localhost:8080/demoform
*/
<template>
  <div id="dynamic-tabs" class="tabs">
    <button
      v-for="tab in tabs"
      :key="tab.value"
      :class="['tab-button', { active: currentTab === tab.value }]"
      @click="currentTab = tab.value">
      {{ tab.text }}
    </button>
    <component :is="currentTabComponent" class="tab"
               :employeeList="employeeList" :employee="employee"
               @updateEmployeeList="updateEmployeeListInfo($event)"
               @clearEmployee="clearEmployeeInfo($event)">
    </component>
  </div>
</template>

<script>
import TabHome from './TabHome'
import TabRegistration from './TabRegistration'
import TabList from './TabList'

export default {
  name: 'DemoForm',
  components: {
    'tab-home': TabHome,
    'tab-registration': TabRegistration,
    'tab-list': TabList
  },
  data () {
    return {
      employeeList: [
        {name: '张三', sex: '男', age: 20, phone: '18932323232', department: '研发中心', position: '软件工程师', hobby: ['运动', '编程'], comments: '管理员'},
        {name: '李四', sex: '男', age: 30, phone: '18921212122', department: '运行管理中心', position: '运维工程师', hobby: ['音乐'], comments: ''},
        {name: '王五', sex: '男', age: 20, phone: '18932223232', department: '研发中心', position: '软件工程师', hobby: ['编程'], comments: ''},
        {name: '赵六', sex: '女', age: 25, phone: '18932322232', department: '系统集成部', position: '系统集成工程师', hobby: ['编程'], comments: ''}
      ],
      employee: {name: '', sex: '', age: '', phone: '', department: '', position: '', hobby: [], comments: ''},
      currentTab: 'Home',
      tabs: [
        {text: 'Welcome', value: 'Home'},
        {text: '注册新员工', value: 'Registration'},
        {text: '员工列表', value: 'List'}
      ]
    }
  },
  methods: {
    // 父组件接收子组件TabRegistration中更新（增加新员工信息）后的Employees列表信息
    updateEmployeeListInfo (listMsg) {
      this.employeeList = listMsg
    },
    clearEmployeeInfo (msg) {
      this.employee = msg
    }
  },
  computed: {
    currentTabComponent: function () {
      return 'tab-' + this.currentTab.toLowerCase()
    }
  }
}
</script>

<style scoped>
  @import url("../../assets/demoForm.css");
</style>
