/**
* @author  Mengxue
* @version: 1.0
* @Description: VUE用户注册表单组件-欢迎界面
*/
<template>
  <div class="home">Welcome to Avic Digital !</div>
</template>

<script>
export default {
  name: 'TabHome'
}
</script>

<style scoped>
  @import url("../../assets/demoForm.css");
</style>
