/**
* @author  Mengxue
* @version: 1.0
* @Description: VUE用户注册表单组件-展示列表
*/
<template>
  <fieldset>
    <legend>员工列表</legend>
  <div style="overflow:auto">
    <!--信息列表-->
    <table class="bordered">
      <thead>
      <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>电话</th>
        <th>部门</th>
        <th>岗位</th>
        <th>爱好</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(person, index) in employeeList" v-bind:key="person.index">
        <td><input class="infoList" v-model="person.name"></td>
        <td><input class="infoList" v-model="person.sex"></td>
        <td><input class="infoList" v-model="person.age"></td>
        <td><input class="infoList" v-model="person.phone"></td>
        <td><input class="infoList" v-model="person.department"></td>
        <td><input class="infoList" v-model="person.position"></td>
        <td><input class="infoList" v-model="person.hobby"></td>
        <td><input class="infoList" v-model="person.comments"></td>
        <td>
          <button @click="deleteEmployeeMsg(index)" class="btn">删除</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</template>

<script>
export default {
  name: 'TabList',
  props: {
    employeeList: {
      type: Array,
      required: true
    },
    employee: {
      type: Object,
      required: true
    }
  },
  methods: {
    deleteEmployeeMsg (index) {
      this.employeeList.splice(index, 1)
    }
  }
}
</script>

<style scoped>
  @import url("../../assets/demoForm.css");
</style>
