/**
* @author  Mengxue
* @version: 1.0
* @Description: VUE + ANTDVUE用户注册界面, 访问地址：localhost:8080
*/
<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-layout-sider v-model="collapsed" :trigger="null" collapsible>
      <div class="logo" />
      <div >
        <a-menu
          theme="dark"
          :inlineIndent="inlineIndent"
          :defaultSelectedKeys="[$route.path]"
          :openKeys="openKeys"
          mode="inline"
          :inline-collapsed="collapsed"
          @openChange="onOpenChange"
          @click="menuClick">
          <!-- 菜单遍历的开始 -->
          <template v-for="item in list">
            <!-- 如果当前遍历项没有children，视为子菜单项，注意所有的key都是path用于路由跳转，以及当前选中记录 -->
            <a-menu-item v-if="!item.children" :key="item.path">
              <span>{{ item.title }}</span>
            </a-menu-item>
            <!-- 否则视为子菜单，传入菜单信息并且运用下面定义的函数式组件 -->
            <sub-menu v-else :key="item.path" :menu-info="item" />
          </template>
        </a-menu>
      </div>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="() => (collapsed = !collapsed)"
        />
      </a-layout-header>
      <a-layout-content
        :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: (screenHeight-112) + 'px' }"
      >
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import { Menu } from 'ant-design-vue'
import AntdvueRegistration from '@/components/antdvue/AntdvueRegistration'
import AntdvueList from '@/components/antdvue/AntdvueList'
const SubMenu = {
  template: `
    <a-sub-menu :key="menuInfo.path" v-bind="$props" v-on="$listeners">
      <span slot="title">
        <i :class="menuInfo.icon" /><span>{{ menuInfo.title }}</span>
      </span>
      <template v-for="item in menuInfo.children">
        <a-menu-item v-if="!item.children" :key="item.path">
          <i :class="item.icon" />
          <span>{{ item.title }}</span>
        </a-menu-item>
        <sub-menu v-else :key="item.path" :menu-info="item" />
      </template>
    </a-sub-menu>
  `,
  name: 'SubMenu',
  // must add isSubMenu: true 此项必须被定义
  isSubMenu: true,
  props: {
    // 解构a-sub-menu的属性，也就是文章开头提到的为什么使用函数式组件
    ...Menu.SubMenu.props,
    // 接收父级传递过来的菜单信息
    menuInfo: {
      type: Object,
      default: () => ({})
    }
  }
}
export default {
  name: 'AntdvueDemo',
  components: {
    'antdvue-registration': AntdvueRegistration,
    'antdvue-list': AntdvueList,
    'sub-menu': SubMenu
  },
  data () {
    return {
      // 菜单缩进
      inlineIndent: 12,
      // 默认不折叠
      collapsed: false,
      // 全部顶级父节点,用来控制所有父级菜单只展开其中的一项，可用遍历菜单信息进行赋值
      rootSubmenuKeys: ['/antd', '/hello', '/antdvue'],
      // 展开的父菜单项
      openKeys: [],
      // 选中的子菜单项
      defaultSelectedKeys: [this.$route.path],
      // 菜单信息，可从后台获取
      list: [
        {
          key: '1',
          title: '主页',
          path: '/index',
          icon: 'pie-chart'
        },
        {
          key: '2',
          title: '用户注册页面',
          icon: 'team',
          children: [
            {
              key: '2.1',
              title: 'VUE页面',
              path: '/index/vuedemoform',
              icon: 'user'
            },
            {
              key: '2.2',
              title: 'ANTD VUE页面',
              path: '/index/antdvuedemo',
              icon: 'team'
            },
            {
              key: '2.3',
              title: 'ANTD VUE页面V2',
              path: '/index/editablecell',
              icon: 'team'
            }
          ]
        }
      ],
      screenHeight: document.body.clientHeight,
      employeeList: [
        {key: '0', name: '张三', sex: '男', birth: '1989-19-20', phone: '18932323232', department: '研发中心', position: '软件工程师', hobby: ['运动', '编程'], remarks: '管理员'},
        {key: '1', name: '李四', sex: '男', birth: '1998-12-11', phone: '18921212122', department: '运行管理中心', position: '运维工程师', hobby: ['音乐'], remarks: ''},
        {key: '2', name: '王五', sex: '男', birth: '2010-12-22', phone: '18932223232', department: '研发中心', position: '软件工程师', hobby: ['编程'], remarks: ''},
        {key: '3', name: '赵六', sex: '女', birth: '1998-12-12', phone: '18932322232', department: '系统集成部', position: '系统集成工程师', hobby: ['编程'], remarks: ''}
      ],
      employee: {key: '', name: '', sex: '', birth: '', phone: '', department: '', position: '', hobby: [], remarks: ''}
    }
  },
  created () {
    // 将从缓存中取出openKeys
    const openKeys = window.sessionStorage.getItem('openKeys')
    if (openKeys) {
      // 存在即赋值
      this.openKeys = JSON.parse(openKeys)
    }
  },
  mounted () {
    const that = this
    window.onresize = () => {
      return (() => {
        window.screenHeight = document.body.clientHeight
        that.screenHeight = window.screenHeight
      })()
    }
  },
  watch: {
    screenHeight (val) {
      // 为了避免频繁触发resize函数导致页面卡顿，使用定时器
      if (!this.timer) {
        // 一旦监听到的screenWidth值改变，就将其重新赋给data里的screenWidth
        this.screenHeight = val
        this.timer = true
        let that = this
        setTimeout(function () {
          // 打印screenWidth变化的值
          console.log(that.screenHeight)
          that.timer = false
        }, 400)
      }
    }
  },
  methods: {
    // 父组件接收子组件TabRegistration中更新（增加新员工信息）后的Employees列表信息
    updateEmployeeListInfo (listMsg) {
      this.employeeList = listMsg
    },
    clearEmployeeInfo (msg) {
      this.employee = msg
    },
    // 点击菜单，路由跳转,注意的是当点击MenuItem才会触发此函数
    menuClick ({ item, key, keyPath }) {
      // 获取到当前的key,并且跳转
      this.$router.push({
        path: key
      })
    },
    onOpenChange (openKeys) {
      // 将当前打开的父级菜单存入缓存中
      window.sessionStorage.setItem('openKeys', JSON.stringify(openKeys))
      //  控制只打开一个
      const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1)
      if (this.rootSubmenuKeys.indexOf(latestOpenKey) === -1) {
        this.openKeys = openKeys
      } else {
        this.openKeys = latestOpenKey ? [latestOpenKey] : []
      }
    }
  }
}
</script>

<style scoped>
  #components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }

  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
</style>
