<template>
  <div>
    <body id="poster">
    <a-form-model class="login-container" label-position="left"
                  label-width="0px">
      <h3 class="login_title">系统登录</h3>
      <a-form-model-item ref="username" label="用户名:" prop="username">
        <a-input
          v-model="loginForm.username"
          placeholder="请输入用户名"
          type="text"
          auto-complete="off"
        />
      </a-form-model-item>
      <a-form-model-item ref="password" label="密码:" prop="password">
        <a-input
          v-model="loginForm.password"
          placeholder="请输入密码"
          type="password"
          auto-complete="off"
        />
      </a-form-model-item>
      <a-form-model-item>
        <a-button type="primary" style="width: 100%;background: #596b81;border: none"
                  @click="login">
          登录
        </a-button>
      </a-form-model-item>
    </a-form-model>
    </body>
  </div>
</template>

<script>

export default {
  name: 'Login',
  data () {
    return {
      loginForm: {
        username: 'admin',
        password: '123'
      },
      responseResult: []
    }
  },
  methods: {
    login () {
      var _this = this
      console.log(this.$store.state)
      this.$axios
        .post('/login', {
          username: this.loginForm.username,
          password: this.loginForm.password
        })
        .then(successResponse => {
          if (successResponse.data.code === 200) {
            _this.$store.commit('login', _this.loginForm)
            var path = this.$route.query.redirect
            this.$router.replace({path: path === '/' || path === undefined ? '/index' : path})
          }
        })
        .catch(failResponse => {
        })
    }
  }
}
</script>
<style>
  #poster {
    background:url("../assets/background.jpg") no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
  }
  body {
    margin: 0px;
  }
  .login-container {
    border-radius: 15px;
    background-clip: padding-box;
    margin: 90px auto;
    width: 350px;
    padding: 35px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
  }

  .login_title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
  }

</style>
